{% block body %}
    <div>
        <p>Id: {{ planet.id_planet }}</p>
        <p>Name: {{ planet.name }}</p>
        <p>Interesting fact: {{ planet.interesting_fact }}</p>
        <p>Number of moons: {{ planet.number_of_moons }}</p>
    </div>
{% endblock %}
